/* ----- MAINNAVIGATION ----------*/
#mainnavigation {
    padding-top:9em;
    font-family: OswaldLight;
    margin: 0 1.5em;
    font-size:1.6em;
    line-height: 1.2em;
}

#mainnavigation a {
    color: #294146;
    text-decoration: none;
}

#mainnavigation a:hover, #mainnavigation a.act {
    font-weight: bold;
}

#mainnavigation ul {
    border-top:1px solid #f6f6f6;
    padding: 0.8em 0 0.8em 0;
}

#mainnavigation ul > li {
    display: inline;
    margin-right: 0.5em;
    position: relative;
    text-transform: uppercase;
    padding-right: 1em;
    padding-top: 0.8em;
}

#mainnavigation ul li ul {
    display:none;
}
#mainnavigation ul li:hover ul, #mainnavigation ul li.act ul{
    display: block;
    position: absolute;
    top: -8.3em;
    left: 0;
    text-align: center;
    border: none;
    height: 107px;
    border-bottom: 3px solid #7fc802;
    background: url(../images/arrow_up.png) center 100% no-repeat;
}

#mainnavigation ul li ul.item-1 {
    width: 127px;
}

#mainnavigation ul li ul.item-2 {
    width: 73px;
}

#mainnavigation ul li:hover ul {
    display:block;
}

#mainnavigation ul li ul li {
    display: block;
    text-transform: none;
    font-size: 0.8em;
    line-height: 2.5em;
    padding: 0;
    margin: 0;
}

#mainnavigation ul li ul li a:hover, #mainnavigation ul li ul li a.act {
    color:#7fc802;
}


/* ----- FOOTERNAVIGATION ----------*/

#footernavigation {
    padding-top: 1em;
    float:right;
    font-size: 1.4em;
}

#footernavigation ul li {
    padding-right:0.5em;
    display:inline;
}

#footernavigation a {
    color: #294146;
    text-decoration: none;
    text-transform: uppercase;
    font-family: OswaldLight;
    line-height:1em;
}

#footernavigation a:hover {
    font-weight:bold;
}