<!DOCTYPE html>
<html>
    <head>
        <title>Handwerker Park Template Title</title>
        <meta charset="UTF-8">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="sources/normalize.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/fonts.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/layout.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/navigation.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/content.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/forms.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/print.css" type="text/css" media="print">
        <script src="scripts/modernizr.custom.2.6.2.min.js"></script>
    </head>
    <body>
        <section id="wrapper">
            <section id="page">
                <header>
                    <figure id="logo">
                        <a href="/" title="Zur Startseite">
                            <img src="images/logo.png" alt="Logo Handerwekerpark">
                        </a>
                    </figure>
                    <nav id="mainnavigation">
                        <ul>
                            <li class="act">
                                <a class="act" href="#" title="Hauptmenü">Handerwerkerpark</a>
                                <ul class="subnavigation item-1">
                                    <li><a class="act" href="#" title="Sub">Subnavigation</a></li>
                                    <li><a href="#" title="Sub">Subnavigation</a></li>
                                    <li><a href="#" title="Sub">Subnavigation</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="Hauptmenü">Vermietung</a>
                                <ul class="subnavigation item-2">
                                    <li><a href="#" title="Sub">Subnavigation</a></li>
                                    <li><a href="#" title="Sub">Subnavigation</a></li>
                                    <li><a href="#" title="Sub">Subnavigation</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="Hauptmenü">Kontakt</a>
                            </li>
                        </ul>
                    </nav>
                    <div id="teaser">
                        <div class="teaser-box box-notify">
                            <div class="teaser-box-content">
                                <h2>Lorem Ipsum</h2>
                                <p>Das ist ein Blind Text der so weiter geht...</p>
                            </div>
                        </div>
                        <figure>
                            <img src="images/header.jpg">
                        </figure>
                    </div>
                </header>
                <section id="content">
                    <article>
                        <h1>Elemente</h1>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <table>
                            <caption>Exposes im Überblick</caption>
                            <thead></thead>
                            <tbody>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                                <tr><td>Produktionsfläche</td><td>Haus A</td><td><a href="#" title="Download" class="link-download">Expose herunterladen</a></td></tr>
                            </tbody>
                        </table>

                        <h2>Jetzt kommen noch Listen</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <ul>
                            <li>Listenelement</li>
                            <li>Listenelement</li>
                            <li>Listenelement</li>
                            <li>Listenelement</li>
                            <li>Listenelement</li>
                            <li>Listenelement</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </article>
                    <aside>
                        <div class="box box-notify">
                            <div class="box-content">
                                <div class="box-content-text">

                                <h2>Sie haben Fragen?</h2>
                                <p>Dann sind wir gerne telefonisch oder per E-Mail für Sie da.</p>
                                <p><strong>Telefon:</strong><br>
                                02951 / 4626</p>
                                <p><strong>E-Mail:</strong><br>
                                    <a href="mailto:#" title="Mailen Sie uns">info@handwerkerpark.de</a></p>
                                </div>
                                <div class="box-content-image-right">
                                    <figure>
                                        <img src="images/kontakt.jpg" alt="">
                                    </figure>
                                </div>
                            </div>

                        </div>
                    </aside>
                </section>
            </section>
            <footer>
                <nav id="footernavigation">
                    <ul>
                        <li><a href="#" title="Title">Kontakt</a></li>
                        <li><a href="#" title="Title">Impressum</a></li>
                    </ul>
                </nav>
            </footer>
        </section>



    </body>
</html>