<!DOCTYPE html>
<html>
    <head>
        <title>Handwerker Park Template Title</title>
        <meta charset="UTF-8">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="sources/normalize.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/fonts.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/layout.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/navigation.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/content.css" type="text/css" media="screen">
        <link rel="stylesheet" href="sources/print.css" type="text/css" media="print">
        <script src="scripts/modernizr.custom.2.6.2.min.js"></script>
    </head>
    <body>
        <section id="wrapper">
            <section id="page">
                <header>

                <nav id="mainnavigation">
                    <ul>
                        <li>
                            <a href="#" title="Hauptmenü">Handerwerkerpark</a>
                            <ul class="subnavigation">
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Hauptmenü">Vermietung</a>
                            <ul class="subnavigation">
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Hauptmenü">Kontakt</a>
                            <ul class="subnavigation">
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                                <li><a href="#" title="Sub">Subnavigation</a></li>
                            </ul>

                        </li>
                    </ul>
                </nav>
                <div id="teaser"></div>
                </header>
                <section id="content">
                    <article>
                        <h1>Arbeiten und Wohlfühlen</h1>
                    </article>
                    <aside>
                        <div class="box">
                            
                        </div>
                    </aside>
                </section>
            </section>
            <footer>
            <nav id="footernavigation">
                <ul>
                    <li><a href="#" title="Title">Kontakt</a></li>
                    <li><a href="#" title="Title">Impressum</a></li>
                </ul>
            </nav>
            </footer>
        </section>



    </body>
</html>